config.json
**/configs/*.json
**/configs/*.json.bak

tmp/
_deploy/

# for PHP
**/cache/
**/templates_c/
**/vendor/
.env
.env.testing
.phpunit.*cache
gcp-cred.json

# gemini-cli settings
.gemini/
# GitHub App credentials
gha-creds-*.json
